@import "tailwindcss";
@plugin "daisyui";


.common-shadow{


    box-shadow: 0px 0px 40px lightblue;
    transition: all 0.5s;
    
}

.common-shadow:hover{
     box-shadow: 0px 0px 5px lightblue
}

.image-section:hover .image{
    /* height: 60px;
    width: 60px; */
    transform: scale(1.4 , 1.4);
    transition: all 0.5s;

}
.partner-section{

    animation-name: partnerAnimation;

    animation-duration: 20s;
    animation-iteration-count:infinite;

    
}
@keyframes partnerAnimation{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-80%);
    }
}
.drop-menu{

    top: -300px ;
    right: 5px;
    position: absolute;
}
.profile{
    position: relative;

}
.profile:hover .drop-menu{

    top: 50px;
    transition: all 0.3s;
}